ADV/SampleData/DataXMLSampleDataSource/DataXMLSampleDataSource.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" xmlns:tns="Expression.Blend.SampleData.DataXMLSampleDataSource" targetNamespace="Expression.Blend.SampleData.DataXMLSampleDataSource" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="MyApp" type="tns:MyApp" />
  <xs:complexType name="MyApp">
    <xs:sequence>
      <xs:element name="AppCollection" type="tns:AppCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AppCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="App" type="tns:App" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="App">
    <xs:attribute name="Title" type="xs:string" />
    <xs:attribute name="Publisher" type="xs:string" />
    <xs:attribute name="Description" type="xs:string" />
    <xs:attribute blend:FormatParameters="..\..\MyApp\img" name="AppImage" type="tns:Basic-Image" />
    <xs:attribute blend:FormatParameters="..\..\MyApp\SC" name="ScreenShot" type="tns:Basic-Image" />
  </xs:complexType>
  <xs:simpleType name="Basic-Image">
    <xs:restriction base="xs:anyURI" />
  </xs:simpleType>
</xs:schema>